<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimun-scale=1.0,maximum-scale=1.0">
    <title>贾方建筑摄影</title>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="../static/components/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/components/DialogEffects/css/dialog.css">
    <link rel="stylesheet" type="text/css" href="../static/components/DialogEffects/css/dialog-sandra.css" />
    <link rel="stylesheet" href="../static/components/file-upload/jquery.fileupload.css">
    <!-- <link rel="stylesheet" href="../static/components/bootstrap-fileinput/css/fileinput.min.css"> -->
    <link rel="stylesheet" href="../static/components/swiper/swiper.css">
    <link rel="stylesheet" href="../static/css/common.min.css">
    <link rel="stylesheet" href="../static/css/index.min.css">
</head>

<body>
    <div class="menu">
        <div class="menu-title">
            <a href="javascript:;">
                <!-- <img class="menu-title_logo" src="../static/img/logo.png" alt="主页LOGO"> -->
                <strong class="menu-title_name">贾方</strong> <i class="menu-title_class">Architectural photography</i>
            </a>
        </div>
        <div id="menu" class="menu-cont">
            <a href="javascript:;">
            </a>
            <ul>
                <li class="menu-cont_title" data-menuId="menu01">
                    <a href="javascript:;">
                        <!-- 建筑 -->
                        <p>Architecture</p>
                    </a>
                </li>
            </ul>

            <ul>
                <li class="menu-cont_title" data-menuId="menu02">
                    <a href="javascript:;">
                        <!-- 地产 -->
                        <p>Estate</p>
                    </a>
                </li>
            </ul>
            
            <ul>
                <li class="menu-cont_title" data-menuId="menu03">
                    <a href="javascript:;">
                        <!-- 酒店 -->
                        <p>Hotel</p>
                    </a>
                </li>
            </ul>
             
            <ul>
                <li class="menu-cont_title" data-menuId="menu04">
                    <a href="javascript:;">
                        <!-- 餐厅 -->
                        <p>Restaurant</p>
                    </a>
                </li>
            </ul>

            <ul>
                <li class="menu-cont_title" data-menuId="menu05">
                    <a href="javascript:;">
                        <!-- 景观/照明 -->
                        <p>Landscape/Lighting</p>
                    </a>
                </li>
            </ul>

            <div class="menu-bottom">
                <p><img class="menu-bottom_icon menu-bottom_phone" src="../static/img/phone.png"/> 18013947966</p>
                <p><img class="menu-bottom_icon menu-bottom_email" src="../static/img/email.png"/> jf-photo@qq.com</p>
            </div>
        </div>
    </div>
    <div class="content">
        <div id="contentTitle" class="content-title d-n">
            <ol class="breadcrumb" id="breadCrumb"></ol>
            <button id="btnShow" class="content-title_login blue" href="javascript:;" data-dialog="somedialog"
                class="trigger">登
                录</button>
            <div id="btnShow_logined" class="btn-group" style="display: none;">
                <button type="button" class="btn btn-default dropdown-toggle content-title_logined green"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> admin <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="min-width: auto;">
                    <li><a id="btnLogOut" href="javascript:;">登出</a></li>
                </ul>
            </div>
        </div>
        <img src="../static/img/1562076247483.jpg" alt="">
        <div id="contentImgs">
            <div id="uploadBox" class="upload-box d-n">
                <i id="btnUpload" class="glyphicon glyphicon-plus-sign"></i>
                <!-- The file input field used as target for the file upload widget -->
                <div class="d-n"><input id="fileupload" type="file" name="img" accept=".jpg" multiple></div>
            </div>
        </div>
        <!-- 模态框（Modal） -->
        <div id="somedialog" class="dialog my-dialog">
            <div class="dialog__overlay"></div>
            <div class="dialog__content">
                <div class="login_logobox"><span class="glyphicon glyphicon-picture login_logo"></span></div>
                <div style="display: none;"><button id="btnClose" class="action" data-dialog-close>Close</button></div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"
                            aria-hidden="true"></span></span>
                    <input name="username" type="text" class="form-control" placeholder="用户名"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"
                            aria-hidden="true"></span></span>
                    <input name="password" type="password" class="form-control" placeholder="密码"
                        aria-describedby="basic-addon1">
                </div>
                <button id="btnLogin" type="button" class="btn btn-default btn-block login-btn black">登录</button>
            </div>
        </div>
        <!-- 模态框（Modal-新增项目窗口） -->
        <div id="addProDialog" class="dialog my-dialog">
            <div class="dialog__overlay"></div>
            <div class="dialog__content dialog__content--add">
                <div class="dialog__header">新增项目</div>
                <div style="display: none;"><button id="btnClose" class="action" data-dialog-close>Close</button></div>
                <div class="input-group">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">项目名称</button>
                    </span>
                    <input name="projectName" type="text" class="form-control" placeholder="请输入...">
                </div>
                <button id="btnAddPro" type="button" class="btn btn-default btn-block login-btn black">新增</button>
            </div>
        </div>
        <!-- 模态框（Modal-新增项目窗口） -->
        <div id="commonDialog" class="dialog my-dialog">
            <div class="dialog__overlay"></div>
            <div class="dialog__content dialog__content--common">
                <div class="dialog__header">温馨提示</div>
                <div id="commonDialogText" class="input-group">
                </div>
                <button id="btnCommon" type="button" class="btn btn-default btn-block login-btn black">确定</button>
            </div>
        </div>
    </div>
    
    <!-- modal -->
    <div class="zoom d-n" id="zoom">
        <div class="zoom-overlay"></div>
        <div class="zoom-content" id="zoomContent">
            <img class="zoom-pic d-n" src="" id="zoomMainPic"/>
            <div class="zoom-mini-pic-list d-n" id="zoomMiniPicList">
            </div>
        </div>
        <div class="zoom-load" id="zoomLoad">
            <img class="zoom-loadicon" src="../static/img/loading.gif"/>
        </div>
    </div>
</body>
<script src="../static/components/jquery.min.js"></script>
<script src="../static/components/swiper/swiper.js"></script>
<script src="../static/components/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<!-- <script src="../static/components/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="../static/components/bootstrap-fileinput/js/fileinput_locale_zh.js"></script> -->
<script src="../static/components/file-upload/jquery.ui.widget.js"></script>
<script src="../static/components/file-upload/jquery.fileupload.js"></script>
<script src="../static/components/DialogEffects/js/modernizr.custom.js"></script>
<script src="../static/components/DialogEffects/js/classie.js"></script>
<script src="../static/components/DialogEffects/js/dialogFx.js"></script>
<script src="../static/components/picZoom.js"></script>
<script src="../static/components/picLazyLoad.js"></script>
<script src="../static/components/drag.js"></script>
<script src="../static/js/index.js"></script>

</html>