<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>贾方建筑摄影</title>
    <link rel="stylesheet" href="../static/css/common.min.css">
    <link rel="stylesheet" href="../static/css/index.min.css">
</head>

<body>
    <div class="menu">
        <div class="menu-title">
            <a href="">
                <img class="menu-title_logo" src="../static/img/logo.png" alt="主页LOGO">
            </a>
        </div>
        <div class="menu-cont">
            <a href="">
            </a>
            <ul>
                <a href="">
                    <li class="section-title">Personal Projects</li>
                </a>
                <li>
                    <a href=""></a>
                    <a href="" >tips</a>
                </li>
                <li>
                    <a href="" >tiny lives</a>
                </li>
                <li>
                    <a href="" >Bottle Rocket</a>
                </li>
                <li>
                    <a href="" >Les Lies</a>
                </li>
            </ul>

            <ul>
                <li class="section-title">Features</li>
                <li><a href="" >In Bloom</a></li>
                <li><a href="" >Little Flexes</a></li>
            </ul>

            <ul>
                <li class="section-title">Fashion Commissions</li>
                <li><a href="" >日出処</a></li>
                <li><a href="" >Personalities</a></li>
                <li><a href="" >2018</a></li>
                <li><a href="" >2017</a></li>
                <li><a href="" > </a></li>
            </ul>

            <ul>
                <li class="section-title">Info</li>
                <li><a href="" >About</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <img src="../static/img/th-69_0.jpg" alt="" height="133">
        <img src="../static/img/th-69_1.jpg" alt="" height="133">
        <img src="../static/img/th-69_2.jpg" alt="" height="133">
        <img src="../static/img/th-69_3.jpg" alt="" height="133">
        <img src="../static/img/th-69_4.jpg" alt="" height="133">
        <img src="../static/img/th-69_5.jpg" alt="" height="133">
        <img src="../static/img/th-69_6.jpg" alt="" height="133">
        <img src="../static/img/th-69_8.jpg" alt="" height="133">
        <img src="../static/img/th-69_7.jpg" alt="" height="133">
        <img src="../static/img/th-69_9.jpg" alt="" height="133">
        <img src="../static/img/th-62_171212ektar-1090.jpg" alt="" height="133">
        <img src="../static/img/th-62_180114ektar-1140.jpg" alt="" height="133">
        <img src="../static/img/th-69_0.jpg" alt="" height="133">
        <img src="../static/img/th-69_1.jpg" alt="" height="133">
        <img src="../static/img/th-69_2.jpg" alt="" height="133">
        <img src="../static/img/th-69_3.jpg" alt="" height="133">
        <img src="../static/img/th-69_4.jpg" alt="" height="133">
        <img src="../static/img/th-69_5.jpg" alt="" height="133">
        <img src="../static/img/th-69_6.jpg" alt="" height="133">
        <img src="../static/img/th-69_8.jpg" alt="" height="133">
        <img src="../static/img/th-69_7.jpg" alt="" height="133">
        <img src="../static/img/th-69_9.jpg" alt="" height="133">
        <img src="../static/img/th-62_171212ektar-1090.jpg" alt="" height="133">
        <img src="../static/img/th-62_180114ektar-1140.jpg" alt="" height="133">
        <img src="../static/img/th-69_0.jpg" alt="" height="133">
        <img src="../static/img/th-69_1.jpg" alt="" height="133">
        <img src="../static/img/th-69_2.jpg" alt="" height="133">
        <img src="../static/img/th-69_3.jpg" alt="" height="133">
        <img src="../static/img/th-69_4.jpg" alt="" height="133">
        <img src="../static/img/th-69_5.jpg" alt="" height="133">
        <img src="../static/img/th-69_6.jpg" alt="" height="133">
        <img src="../static/img/th-69_7.jpg" alt="" height="133">
        <img src="../static/img/th-69_8.jpg" alt="" height="133">
        <img src="../static/img/th-69_9.jpg" alt="" height="133">
        <img src="../static/img/th-62_171212ektar-1090.jpg" alt="" height="133">
        <img src="../static/img/th-62_180114ektar-1140.jpg" alt="" height="133">
    </div>
</body>

</html>