/* html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
} */

html {
    font-size: 10px;
}

body {
    font-size: 1.2rem;
}

img { 
    border: 0 none; 
    vertical-align: top; 
}

ul, li { 
    list-style-type: none; 
}

a:visited {
    text-decoration: none;
    color: #666;
}
a:link {
    text-decoration: none;
    color: #666;
}
a:hover {
    text-decoration: none;
    color: #56a7fa;
}

.d-n {
    display: none!important;
}


@for $i from 10 through 30 {
    .f-#{$i} {
        font-size: $i * 0.1rem;
    }
}



/* ------- 图片放大插件 ----- */
.zoom {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: transparent;
}

.zoom-overlay, .zoom-content, .zoom-load {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.zoom-overlay {
    opacity: 0.9;
    background: #fff;
}

.zoom-pic {
    max-width: 60%;
    max-height: 60%;
    margin: 150px auto;
    display: block;
    cursor: pointer;
}

.zoom-loadicon {
    margin: 0 auto;
    display: block;
    position: absolute;
    top: calc(45% - 8px);
    left: calc(50% - 8px);
}