$menu-width: 250px;

body {
    
}

.menu {
    width: $menu-width;
    padding-left: 10px;
    overflow: auto;
    text-align: left;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    height: 100%;
    background-color: #fff;
    padding: 20px 0 0 25px;
}

.content {
    height: 100%;
    margin: 0 0 0 $menu-width;
    top: 0;
    padding: 31px 50px 25px 40px;
}

.content-title {
    text-align: right;
    margin: 0 0 20px;
    border-bottom: 1px solid #eee;
}

.content-title_login {
    color: #fff!important;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 15px;
    margin: 0 0 10px;
    box-sizing: border-box;
    display: inline-block;
    min-width: 70px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    transition: background-color 200ms ease-in-out;
    border: none;
}

.content-img {
    cursor: pointer;
    display: block;
}

.content-img_box {
    display: inline-block;
    position: relative;
    transition: all 100ms ease-in;
    overflow: hidden;
    margin: 10px 10px 0 0;

    &:hover {
        & > .content-img_layer {
            top: 0;
        }
    }
}

.content-img_progress {
    margin: 10px;
    height: 15px;
    top: calc(50% - 20px);
    position: relative;
}

.content-img_layer {
    background-color: rgba(55, 58, 71, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    transition: all 100ms ease;
}

.content-img_remove {
    position: absolute;
    top: calc(50% - 16px);
    right: calc(50% - 16px);
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(217, 84, 79);
    transition: all 150ms ease-in;

    &:hover {
        text-shadow: 0px 0 5px;
    }
}

.content-title_logined {
    padding: 8px 15px;
    margin: 0 0 10px;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
    transition: background-color 200ms ease-in-out;
}


.menu-title_logo {
    width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.menu-title_name {
    font-size: 2rem;
    color: #666!important;
}

.menu-title_class {
    font-size: 1.2rem; 
    color: #666!important;
}

.menu-cont {
    padding: 30px 50px 25px 5px;
    ul {
        padding: 0 0 5px 0;
        margin: 0;
        /* 一级节点 */
        li.menu-cont_title {
            > a:hover {
                color: #56a7fa;
                > p {
                    color: #56a7fa;
                }
            }
            p:nth-of-type(2) {
                margin-top: -4px;
                color: #bbb;
            }
        }
        /* 二级节点 */
        li:not(.menu-cont_title) {
            padding-left: 10px;
        }
        p {
            margin: 0;
        }
    }
}

.li-selected {
    p {
        text-decoration: none!important;
        color: #56a7fa!important;
    }
}

.login_logobox {
    background-color: rgb(66, 66, 66);
    width: 50px;
    height: 50px;
    margin: 0 auto 25px;
    border-radius: 50%;
}

.login_logo {
    font-size: 20px;
    top: calc(50% - 11px);
    color: rgb(245, 229, 56);
}

.login-btn {
    transition: background-color 200ms ease-in-out;
    color: white;
    padding: 8px 15px;
    margin: 20px 0 0;
    border: none;
    outline: none;
}

.my-dialog {
    z-index: 99999;
}

.upload-box {
    display: inline-block;
    height: 133px;
    width: 133px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 4px grey;
    transition: box-shadow 200ms ease-in-out;
    margin: 10px 10px 0 0;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 10px #66afe9;

        & > i {
            color: #66afe9;
        }
    }

    > i {
        font-size: 50px;
        color: #bbb;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
        transition: color 200ms ease-in-out;
    }
}

.dialog__content {
    width: auto;
    padding: 40px 30px 48px;
    border-radius: 4px;

    > .input-group {
        margin-bottom: 10px;
    }
}

.blue {
    background-color: rgba(51, 122, 183, 1);
    &:hover {
        background-color: rgba(51, 122, 183, 0.8);
        color: white;
    }
    &:focus {
        background-color: rgba(51, 122, 183, 0.8);
        color: white;
    }
}

.green {
    background-color: rgb(90, 184, 92);
    &:hover {
        background-color: rgba(90, 184, 92, 0.8)!important;
        color: white!important;
    }
    &:focus {
        background-color: rgba(90, 184, 92, 0.8)!important;
        color: white!important;
    }
}

.red {
    background-color: rgb(217, 84, 79);
    &:hover {
        background-color: rgba(217, 84, 79, 0.8);
        color: white;
    }
    &:focus {
        background-color: rgba(217, 84, 79, 0.8);
        color: white;
    }
}

.black {
    background-color: rgb(50, 50, 50);
    &:hover {
        background-color: rgba(50, 50, 50, 0.8);
        color: white;
    }
    &:focus {
        background-color: rgba(50, 50, 50, 0.8);
        color: white;
    }
}

.slider {
    width: 100%;
    margin: 10px auto;
}

.slick-slide {
  margin: 0px 20px;
  height: auto;
}

.slick-slide img {
    width: 100%;
    height: 200px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}
